html,
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
